.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  background-color: #333;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 20%);
  }
  100% {
    background-color: hsl(0, 0%, 30%);
  }
}
