.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  background-color: var(--color-surface-hover);
}

.scan {
  background: linear-gradient(to right, transparent, var(--color-accent-hover), transparent);
  animation: scanBorder 2s linear infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-surface);
  }

  100% {
    background-color: var(--color-surface-raised);
  }
}

@keyframes scanBorder {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}