.checkboxContainer {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  cursor: pointer;
  background-color: transparent;
}

label {
  color: var(--color-text-bright);
  user-select: none;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: var(--space-5);
  height: var(--space-5);
  border: 2px solid var(--color-accent);
  border-radius: var(--space-1);
  cursor: pointer;
  outline: none;
  transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
}

.input:checked {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.input:checked::after {
  content: '✔';
  position: absolute;
  color: var(--color-surface-700);
  font-size: 14px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
