.container {
  gap: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-surface-raised);
  border-radius: 8px;
  background-color: var(--color-surface-sunken);
}

.container label {
  width: 100%;
  display: flex;
}

.container>div {
  width: 100%;
  display: flex;
}

.container>div>div {
  width: 100%;
  display: flex;
}

.container>div button {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.container:focus-within {
  border: solid 1px var(--color-accent);
}

.disabled {
  opacity: 0.5;
}