.inputContainer {
  gap: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 3.9rem;
}

.inputContainer label {
  width: 100%;
  display: flex;
}

.inputContainer input {
  width: 100%;
}

.disabled {
  opacity: 0.5;
}