.container {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.article {
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-dark-300);
}

.article:hover {
  background-color: var(--color-dark-100);
  color: var(--color-primary);
}