.container {
  width: 100%;
  max-width: 1024px;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  gap: .5rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.memberGrid {
  gap: 1rem;
  padding: 0;
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.memberListItem {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  max-width: 500px;
  border-radius: 1rem;
  padding-inline: 2rem;
  background-color: var(--color-dark-300);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.memberListItem:hover {
  background-color: var(--color-dark-200);
}

.title {
  margin-bottom: 0.5rem; /* Adjust as needed */
}

.subtitle {
  margin-bottom: 1rem; /* Adjust as needed */
}

.memberListItem.skeleton {
  height: 60px; /* Adjust height as needed for skeleton */
}
