.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  padding: var(--size-4);
  background-color: var(--color-dark-300);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  margin-bottom: var(--size-2);
}

.header h2 {
  color: var(--color-light-200);
  font-size: var(--size-9);
}

.detailsGrid {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  width: 100%;
  overflow: hidden;
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detailsGrid p {
  color: var(--color-light-300);
  font-size: 0.95rem;
}

.detailsGrid strong {
  color: var(--color-light-200);
  margin-right: var(--size-1);
}

.detailsGrid a {
  color: var(--color-primary);
  text-decoration: none;
}

.detailsGrid a:hover {
  text-decoration: underline;
}

.rawDataSection {
  margin-top: var(--size-4);
}

.rawDataSection h3 {
  color: var(--color-light-200);
  font-size: var(--size-6);
  margin-bottom: var(--size-2);
}

.jsonViewer {
  background-color: var(--color-dark-900);
  padding: 1rem;
  width: 100%;
  display: flex;
  max-height: 80vh;
  border-radius: 1rem;
  overflow: auto;
  font-family: 'Fira Code', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9rem;
  line-height: 1.4;
}