.container {
  gap: 1rem;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyState {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.originGrid {
  gap: 1rem;
  padding: 0;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: column;
}

.originListItem {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  max-width: 500px;
  border-radius: 1rem;
  padding-inline: 2rem;
  background-color: var(--color-dark-300);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.originListItem:hover {
  background-color: var(--color-dark-200);
}

.originIconContainer {
  border-radius: 100%;
  width: 32px;
  aspect-ratio: 1/1;
  border: solid 3px;
  border-color: var(--color-button-primary-hover);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: white;
  opacity: .7;
  text-transform: uppercase;
}

.originText {
  width: 100%;
  overflow: hidden;
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardSkeleton {
  width: 100%;
  height: 60px;
  max-width: 500px;
  border-radius: 1rem;
}