.container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.modalContent {
  gap: 1rem;
  top: 1.3rem;
  right: 1rem;
  z-index: 9;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  color: var(--color-light-100);
  background-color: var(--color-dark-400);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  position: absolute;
  flex-direction: column;
}

.dbInfoButton {
  gap: 8px;
  padding: 0;
  border: none;
  display: flex;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 5px;
  margin-right: 1rem;
  align-items: center;
  color: var(--color-light-100);
  background-color: transparent;
}

.dbInfoButton:hover {
  background-color: transparent;
}

.dbInfoButton .icon:hover {
  color: var(--color-primary);
  transition: .4s;
}