.container {
  gap: .5rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  color: black;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: var(--size-4);
  background-color: var(--color-light-300);
}

.container:hover {
  color: white;
}

.container:disabled:hover {
  color: black;
  background-color: var(--color-light-300);
}