.container {
  display: flex;
}

.canvas {
  padding: 0;
  left: 0;
  bottom: 0;
  border: solid .1rem var(--color-dark-400);
  border-radius: .6rem;
  padding: .3rem;
  position: absolute;
  background-color: var(--color-dark-400);
  transition-duration: .4s;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
}

.canvas:hover {
  box-shadow: 0 0 20px var(--color-dark-800);
}

.canvas div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accountActionsContainer {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.profileButtonContainer {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileButtonContainer button {
  padding: .3rem;
  padding-inline: 1.6rem;
  color: white;
}

.profileButton {
  max-width: 38px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.profileButton img {
  display: flex;
  width: 100%;
  max-width: 2.2rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-top: solid #c7c7c7 1px;
  border-radius: 100%;
  background: var(--background-gradient-color);
  border: solid .15rem;
  border-color: var(--color-button-primary-hover);
  cursor: pointer;
  aspect-ratio: 1/1;
}

.profileButton span {
  display: flex;
  width: 100%;
  max-width: 2.2rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-top: solid #c7c7c7 1px;
  border-radius: 100%;
  background: var(--background-gradient-color);
  border: solid .15rem;
  border-color: var(--color-button-primary-hover);
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 800;
}