.container {
  margin: 0;
  width: 50px;
  height: 50px;
  padding: .1rem;
  max-width: 500px;
  border-radius: 100%;
  transition-duration: .1s;
  border: none;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-200);
}

.container span:hover {
  background-color: var(--color-primary);
}

.container span {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

.selected {
  border: solid .15rem;
  border-color: var(--color-primary);
}

.image {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  opacity: .7;
}

.defaultImage {
  color: white;
  opacity: .7;
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: uppercase;
}