.container {
  gap: .5rem;
  width: 100%;
  max-width: 500px;
  border-radius: var(--size-4);
  color: var(--color-light-200);
  text-wrap: nowrap;
  background-color: transparent;
  border: solid 2px var(--color-light-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover {
  color: black;
  background-color: var(--color-light-200);
}
