.container {
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-dark-900);
}

.createContainer {
  gap: 1rem;
  width: 100%;
  max-width: 1024px;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.createContainer ul {
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.createContainer ul li {
  gap: 1rem;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 1rem;
  background-color: var(--color-dark-300);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.createContainer ul li:hover {
  background-color: var(--color-dark-200);
}

.box {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.box h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.projectImageContainer {
  border-radius: 100%;
  width: 32px;
  aspect-ratio: 1/1;
  border: solid 3px;
  border-color: var(--color-button-primary-hover);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: white;
  opacity: .7;
}

.projectImage {
  height: 100%;
}

.createContainer ul .createProject {
  position: relative;
  background-color: transparent;
  border: dashed 0.2rem transparent;
  justify-content: center;
}

.createContainer ul .createProject::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.2rem dashed transparent;
  border-image: repeating-linear-gradient(
    90deg,
    black 0 10px,
    transparent 10px 20px
  );
  border-image-slice: 1;
  pointer-events: none;
  z-index: 1;
  animation: dash 2s linear infinite paused;
}

.createContainer ul .createProject:hover::before {
  animation-play-state: running;
}

@keyframes dash {
  0% {
    border-image-source: repeating-linear-gradient(
      90deg,
      black 0 10px,
      transparent 10px 20px
    );
  }
  100% {
    border-image-source: repeating-linear-gradient(
      90deg,
      black 20px 30px,
      transparent 30px 40px
    );
  }
}
