.container {
  gap: 1rem;
  height: 100%;
  min-height: 100vh;
  padding: .6rem;
  padding-top: .25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.projects {
  flex-direction: column;
  height: 100%;
}

.logout {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-top: solid #c7c7c7 1px;
  border-radius: 100%;
  background: var(--background-gradient-color);
}

.logout:hover {
  cursor: pointer;
}