.container {
  width: 100%;
}

.container ul {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonContainer {
  gap: 1rem;
  width: 100%;
  display: flex;
}

.imgContainer {
  width: 10rem;
  height: 10rem;
  padding: .1rem;
  border-radius: 100%;
  transition-duration: .3s;
  display: flex;
  border: dashed;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  border-color: var(--color-dark);
  background-color: var(--background-color-dark);
}

.imgContainer:hover {
  border-color: var(--color-primary);
}

.plusContainer {
  position: absolute;
  bottom: 0;
  right: 1rem;
  background-color: var(--color-primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
}

.previewImageContainer {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.previewImage {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.inputContainer {
  gap: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  width: 100%;
  display: flex;
}

.inputContainer input {
  width: 100%;
}