.container {
  gap: 1rem;
  width: 100%;
  padding-inline: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.container p {
  font-weight: 500;
  text-align: start;
}