.container {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-dark-300);
}

.formContainer {
  width: 100%;
  max-width: 500px;
  gap: var(--size-3);
  border-radius: var(--size-1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.formContainer h3,
.formContainer p {
  text-align: center;
}

.buttonContainer {
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

@media screen and (max-width: 620px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
  }
}
