

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

.keyName {
  color: #9cdcfe; /* Light blue for keys */
}

.stringValue {
  color: #ce9178; /* Orange for string values */
}

.numberBooleanValue {
  color: #b5cea8; /* Green for numbers and booleans */
}

.nullValue {
  color: #569cd6; /* Blue for null */
}