.container {
  left: 0;
  top: 2rem;
  width: 100%;
  padding: .3rem;
  position: absolute;
  z-index: 1000;
}

.canvas {
  padding: .3rem;
  border: solid .1rem;
  border-radius: .3rem;
  border-color: var(--color-dark-200);
  background-color: var(--color-dark-900);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}
