.chartsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1024px;
}

.chartCard {
  background-color: var(--color-dark-300);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  width: 100%;
}

.graphContainer {
  width: 100%;
  padding: 1rem;
  min-height: 400px;
  position: relative;
}

.chartCard h4 {
  margin-bottom: 1rem;
  color: var(--color-text-primary);
}

.chartPlaceholder {
  width: 100%;
  border-radius: 1rem;
}