.chartsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1024px;
}

.chartCard {
  background-color: var(--color-dark-300);
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  height: 300px; /* Fixed height for the card */
  width: 100%; /* Ensure it takes full width */
  position: relative; /* Needed for absolute positioning of chart if any */
  overflow: hidden; /* Hide overflow */
}

.chartCard h4 {
  margin-bottom: 1rem;
  color: var(--color-text-primary);
}

.chartPlaceholder {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
}
