.box {
  gap: 1rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.title {
  width: 100%;
  overflow: hidden;
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.memberImageContainer {
  border-radius: 100%;
  width: 32px;
  padding: .4rem;
  font-weight: 900;
  aspect-ratio: 1/1;
  border: solid 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  opacity: .7;
  border-color: var(--color-button-primary-hover);
}

.memberRole {
  font-size: 0.8em;
  color: var(--color-text-secondary);
}
