.box {
  gap: 1rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.title {
  width: 100%;
  overflow: hidden;
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.projectImageContainer {
  border-radius: 100%;
  width: 32px;
  aspect-ratio: 1/1;
  border: solid 3px;
  border-color: var(--color-button-primary-hover);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: white;
  opacity: .7;
  text-transform: uppercase;
}

.projectImage {
  height: 100%;
}