.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-400);
}

.content {
  height: 100%;
  padding: 1rem;
  display: flex;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: center;
}

.location {
  gap: .5rem;
  width: 100%;
  height: 2rem;
  border-radius: 0;
  padding: .5rem;
  font-size: .8rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom: solid .5px var(--color-dark-300);
  color: var(--color-light-300);
}

.folder {
  padding: 0 4px;
  color: var(--color-link);
}

.breadcrumb {
  color: var(--color-link);
  cursor: pointer;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.separator {
  gap: .5rem;
  display: flex;
  align-items: center;
}