.container {
  gap: 1rem;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyState {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cardSkeleton {
  width: 100%;
  height: 60px;
  border-radius: 1rem;
}

.credentialListGrid {
  gap: 1rem;
  padding: 0;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.credentialItem {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  padding-inline: 2rem;
  background-color: var(--color-surface);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credentialItem:hover {
  background-color: var(--color-surface-hover);
}

.createCredential {
  background-color: transparent;
  border: dashed .2rem;
  border-radius: 1rem;
  justify-content: center;
}

.deleteButton {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteButton:hover {
  color: var(--color-text-primary);
  background-color: transparent;
}